.title_form_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.acs_svg{
    width: 6.3rem;
    height: 4.7rem;
}

.title_form{
    font-size: 3.1rem;
    font-family: var(--Tipografia);
    color: var(--Color1);
}

/*
//====================
//  Responsive
//====================
*/
@media screen and (max-width:1850px) {
    .title_form{
        font-size: 2.8rem;
        font-family: var(--Tipografia);
        color: var(--Color1);
    }

    .acs_svg{
        width: 6rem;
        height: 4.4rem;
    }
}


@media screen and (max-width:1750px) {
    .title_form{
        font-size: 2.5rem;
    }

    .acs_svg{
        width: 6rem;
        height: 4.4rem;
    }
}

@media screen and (max-width:1650px) {
    .acs_svg{
        width: 6rem;
        height: 4.4rem;
    }
}

@media screen and (max-width:1500px) {
    .title_form{
        font-size: 2.3rem;
    }

    .acs_svg{
        width: 5.5rem;
        height: 3.9rem;
    }
}

@media screen and (max-width:780px) {
    .title_form{
        font-size: 2.1rem;
    }

    .acs_svg{
        width: 5rem;
        height: 3.4rem;
    }
}

@media screen and (max-width:540px) {
    .title_form{
        font-size: 1.8rem;
    }
}

@media screen and (max-width:540px) {
    .acs_svg{
        width: 4.4rem;
        height: 2.8rem;
    }
}

@media screen and (max-width:540px) {
    .title_form_container{
        gap: 1px;
    }
}

@media screen and (max-width:410px) {
    .acs_svg{
        width: 4rem;
        height: 2.4rem;
    }
}

@media screen and (max-width:410px) {
    .title_form{
        font-size: 1.6rem;
    }
}

@media screen and (max-width:380px) {
    .title_form{
        font-size: 1.5rem;
    }
}