.input_list_container{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
}

.input_list{
    font-family: var(--Tipografia);
}

.label_input_list{
    font-family: var(--Tipografia);
    color: var(--Color1);
    font-size: 1rem;
}

/*
//====================
//  Responsive
//====================
*/

@media screen and (max-width:730px) {
    .label_input_list{
        font-size: 0.8rem;
    }
}