:root{
    --color_principal_1: rgb(0, 168, 195);
    --color_principal_2: rgb(12, 33, 53);
    --color_principal_3: rgba(33,33,33,0.15);
    --color_principal_4: rgb(204,233,245);
    --color_principal_5: rgb(245, 247, 250);
    --color_principal_6: rgb(255, 255, 255);
    --fuente_principal: 'Segoe UI', 'Lucida Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contenedor-padre{
    width: 100%;
    background-color: var(--color_principal_6);
}

.contenedor-titulo{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--color_principal_1);
    padding: 0.5rem;
}

.contenedor-svg, .contenedor-h3{
    width: auto;
}

.svg-logo{
    width: 4rem;
}

.titulo{
    font-family: var(--fuente_principal);
    font-size: 2.5rem;
    color: var(--color_principal_6);
}

.hipervinculos{
    text-decoration: none;
    color: var(--color_principal_6);
}

.contenedor-texto0, .contenedor-texto1, .contenedor-texto2, .contenedor-texto3, .contenedor-texto4, .contenedor-texto5{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.contenedor-lista1, .contenedor-lista2{
    width: 100%;
    padding: 0rem 2rem ;
}

.contendor-footer{
    width: 100%;
    padding: 0.5rem;
}

.texto{
    font-family:var(--fuente_principal);
    font-size: 1.1rem;
}

.resaltados{
    font-weight: bold;
    color: var(--color_principal_2);
}

.hipervinculos-mesa{
    text-decoration: none;
    color: var(--color_principal_1);
}